.xtag {
	border-top: 1px solid var(--transparent-white-7);
	position: relative;
	padding: 0;
}

.xtag a {
	text-decoration: none;
}

.xtag.hidden {
	display: none !important;
	visibility: hidden !important;
}

.xtag.selected, .xtag:hover {
	background-color: var(--transparent-white-7);
}

.xtag .hide_overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.xtag .result_title {
	width: 88% !important;
	color: var(--transparent-white-65);
	padding-left: 3px;
	font-weight: 700;
	position: absolute;
	line-height: 30px;
}

.xtag .result_icon {
	display: inline-block;
	height: 18px;
	padding: 6px 6px 6px 13px;
}

.xtag a .count {
	top: 8px;
	position: absolute;
	right: 10px;
	color: var(--transparent-white-65);
	font-weight: 400;
}

.result_sub_title {
	font-weight: 700 !important;
	padding: 9px 0;
}

.classic-tags-too-much-tags-error {
	font-size: 13px;
	text-align: center;
	padding: 10px 10px;
	margin-top: 3px;
	background: rgba(0, 0, 0, 0.06);
	color: var(--transparent-white-40);
}
